iframe.horizontal {
    height: 50vh;
}

iframe.vertical {
    height: 30vh;
    width: 30vw;
}

.video {
    display: flex;
    justify-content: center;
}

iframe {
    border: none;
}

img {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 25rem;
    max-width: 100%;
}

.long {
    height: 15rem;
}

@media only screen and (max-width: 768px) {
    img {
        height: 20rem;
    }
    .long {
        height: auto;
        width: 100%;
    }
    iframe.vertical {
        width: 100%;
    }
}

