iframe.horizontal {
    height: 60vh;
}

iframe.vertical {
    width: 40vw;
    height: 30vh;
}

.video {
    display: flex;
    justify-content: center;
    
}

iframe {
    border: none;
}

img {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 20rem;
    width-max: 100%;
}
