:root {
    --rep-feedback-color: rgba(255, 255, 255, 0.241)
}

.video-feed {
    margin-top: 2rem;
    width: 50vw;
    height: 60vh;
}

#rep-info-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(50vw - 0.3rem);
}

#rep-count, #rep-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rep-feedback-color);
}

#rep-count {
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 3rem;
    min-width: 5rem;
}

#rep-feedback {
    display: inline-block;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    width: 45vw;
    margin-left: 0.3rem;
    margin-bottom: 0;
}

#show-log-button {
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: underline;
}

#show-log-button img {
    max-width: 2rem;
}

#show-log-button.active img {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

#feedback-list {
    max-height: 0rem;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

#feedback-list.active {
    max-height: 10rem;
    overflow: auto;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

/* #region TOGGLE BUTTON FOR DIFFICULTY */
.toggle-container {
    display: inline-block;
    position: relative;
    width: 3.5rem;
    border-radius: 99rem;
    height: 2.2rem;
    background-color: rgb(0, 0, 0);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#difficulty-toggle {
    display: inline-block;
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 99rem;
    background-color: white;
    top: 0.2rem;
    left: 0.2rem;
    transition: 0.3s;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.toggle-container.active {
    background-color: rgb(2, 56, 103);
}

.toggle-container.active #difficulty-toggle {
    transform: translatex(1.3rem);
}

.toggle-label {
    margin: 0.5rem 0;
}

/* #endregion */




/* #region RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
    .video-feed {
        margin-top: 2rem;
        width: 100%;
        height: unset;
    }
    #rep-count {
        font-size: 2rem;
        min-width: 3rem;
    }
}

.end-button {
    margin-bottom: 2rem;
}


/* #endregion */

/* Styles for icon to change camera view */
#change-view, #change-view-hover {
    width: 2rem;
}

#change-view-hover {
    display: none;
}

#change-view-group:hover > img:first-child {
    display: none;
}

#change-view-group:hover > img:last-child {
    display: block;
}
/* endregion */



/* #region RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
    .video-feed {
        margin-top: 2rem;
        width: 100%;
        height: unset;
    }
    #rep-count {
        font-size: 2rem;
        min-width: 3rem;
    }
}

/* #endregion */




/* #region RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
    .video-feed {
        margin-top: 2rem;
        width: 100%;
        height: unset;
    }
    #rep-count {
        font-size: 2rem;
        min-width: 3rem;
    }
}

/* #endregion */




/* #region RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
    .video-feed {
        margin-top: 2rem;
        width: 100%;
        height: unset;
    }
    #rep-count {
        font-size: 2rem;
        min-width: 3rem;
    }
}

/* #endregion */


