{% extends "base_template.html" %} 

{% block title %} 
FitAI: About
{% endblock %}

{% block nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/">App</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="instructions">Tutorial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="errors">Form</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lobby">Lobby</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="about">About</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-center" href="#information">Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" href="#about">About Us</a>
    </li>           
</ul>
{% endblock %}

{% block main %} 
<main style="text-justify: auto;">
    <section>
        <h4 class="text-center" id ="information">Information</h4>
        <h5>Application Information</h5>
        <ul>
            <li>We currently support 3 exercises: Side Squats, Front Squats, and Side Push-Ups.</li>
            <li>Unfortunately, as of now, it can only support one connection due to computing constraints.</li>
            <li>The website supports both Desktop and Mobile access, in portrait and landscape mode.</li>
            <li>The browsers we support are Chrome, Safari, and Microsoft Edge, and Firefox. Firefox mobile cannot be used in landscape mode.</li>
            <li>Do note that you will be logged out after 5 minutes of inactivity while using the application.</li>
        </ul>
        <h5>Data Privacy</h5>
        <ul>
            <li>Do note that by using the website, you are sending your image data to us.</li>
            <li>We do not store or distribute this data in any way, shape, or form.</li>
        </ul>
        <h5>Disclaimer</h5>
        <p>
            We are not responsible for any injuries caused by using our application. <br>
            This application only serves as a guide for users, it does not serve as a replacement for professional health advice. <br>
            If you have any pre-existing health conditions, consult an expert on whether or not these exercises are safe for you to perform.
        </p>
    </section>
        
    <section>
        <h4 class="text-center" id="about">About Us</h4>
        <h5>Background</h5>
        <p>
            This is the Website for the National AI Student Challenge 2022. We have used PeekingDuck as our core tool for Computer Vision. <br>
            For more information, you may visit our <a class="link link-dark" href="https://github.com/Yuheng3107/aichallenge">Github Repo</a>.
        </p>
        <h5>Credits</h5>
        Creators:
        <ul>
            <li>Ivan Yap</li>
            <li>Yu Heng</li>
            <li>Zi Win</li>
            <li>Jem</li>
        </ul>
        Our thanks to AI Challenge 2023 for providing us with this opportunity.
    </section>
</main>
{% endblock main %}
