{% extends "base_template.html" %} 

{% block head %} 
<!-- Add Javascript Logic for interactivity -->
<script src="{{url_for('static', filename='js/error.js')}}" defer></script>
<!-- Add Custom Styling -->
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
{% endblock %}

{% block title %} 
FitAI: Errors
{% endblock %} 

{% block nav %}
<ul class="navbar-nav"> 
    <li class="nav-item">
        <a class="nav-link" href="/">App</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="instructions">Tutorial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="errors">Form</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lobby">Lobby</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about">About</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="squat-side-nav-item nav-link text-center" href="#squats-side">Squats (Side)</a>
    </li>
    <li class="nav-item">
        <a class="squat-front-nav-item nav-link text-center" href="#squats-front">Squats (Front)</a>
    </li>
    <li class="nav-item">
        <a class="push-up-nav-item nav-link text-center" href="#push-up">Push-Up (Side)</a>
    </li>
</ul>
{% endblock %}

{% block main %} 
<main>
    <h4 class="text-center">Form Correction</h4>
    <p class="lead text-center">
        Index of mistakes FitAI can point out & how to fix them.<br>
        The navigation bar on the top right can help you nagivate the page.
    </p>

    <div id="squats-side">
        <h4 class="text-center">Squats (Right Side)</h4>
        <div class="video">
            <iframe loading="lazy" class="horizontal embed-responsive embed-responsive-16by9" src="https://youtube.com/embed/li3ysrOYNH4?mute=1" frameborder="1"></iframe>
        </div>
        <section class="text-justify">
            <h5>Rep Too Fast</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>
            </div>
            <p>
                <h6>What is it?</h6>
                "Squat rep too fast" refers to performing the repetition of the squat with a rapid pace, without properly controlling the movement.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Decreased activation of the muscle fibers, leading to poorer muscle development.</li>
                    <li>Increased risk of injury due to loss of control over the squatting movement.</li>
                    <li>Decreased stability during the squatting movement.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                Squatting with a slow and controlled tempo is beneficial as you can achieve a greater time under tension for your muscles, 
                which will lead to better activation of the targeted leg muscles. 
                In addition, a slow and controlled tempo will also help reduce your risk of injuries as you can balance and control with a higher level of stability.
                <br>
                Aim for at least 3 to 4 seconds to complete one full rep of a squat.
            </p>
        </section>
        <section class="text-justify">
            <h5>Leaning Forward Too Much</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                "Leaning forward too much" refers to allowing your upper body to tilt forward excessively during a squat exercise. This can result in an imbalance of weight and and place excessive stress on the lower back and other joints.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased risk of injury and / or strain to your lower back, hips, knees and ankles.</li>
                    <li>Decreased balance and stability which increases the risk of falling or losing control.</li>
                    <li>Reduced activation of the glutes (butt), which is the primary muscle group targeted during the squats, hence making the exercise ineffective.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Strengthen your core</u><br>
                    Incorporate exercises that target your core muscles, such as planks, side planks, and bird dogs, into your workout routine to help improve your overall stability and posture.</li>
                    <li><u>Focus on your breathing and brace your core</u><br>
                    Take a deep breath in, and contract your abs muscles, as if you are bracing a punch to the stomach. Hold this contraction while squatting, and exhale after completing the squat. This can help to maintain a neutral spine and help you avoid leaning forward too much during the squat.</li>
                    <li><u>Incorporate strengthening exercises</u><br>
                    Such exercises for the legs can help strengthen the muscle and improve overall movement patterns. An exercise in particular will be Wall Squat, which is an easier variation that will help build your strength in the muscles needed for the normal bodyweight squat.</li>
                    <li><u>Do your mobility exercises</u><br>
                    Mobility exercises will help improve your range of motion and flexibility in your legs and hips. Some mobility exercises you can do are foam rolling, stretching such as hamstring stretches, hip flexor stretches, quad stretches and dynamic warm-up movements such as leg swings and walking lunges.</li>
                </ol>
            </p>
        </section>
        <section class="text-justify">
            <h5>Leaning Forward too Much</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u></u><br>
                    </li>
                    <li><u></u><br>
                    </li>
                    <li><u></u><br>
                    </li>
                    <li><u></u><br>
                    </li>
                </ol>
            </p>
        </section>
        <section class="text-justify">
            <h5>Squat Not Low Enough</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                Not reaching full depth during squats is commonly referred to as “Partial squat," and can reduce the effectiveness of the exercise and raise the risk of injury.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Stresses your lower back, knee caps, and hip.</li>
                    <li>Discomfort and feeling of tightness at your hip and leg as it reduces the range of motion in your hip and leg.</li>
                    <li>Not an effective movement as it suffers from a partial range of motion, leading to imbalances in muscle development.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Improve mobility</u><br>
                    High level of tightness at your hips, hamstrings, and calves can prevent you from reaching full depth in your squats. Incorporate stretching and mobility exercises such as Hip Flexor, Hamstring, Calf stretches into your routine to improve flexibility in these areas.</li>
                    <li><u>Use a wider stance</u><br>
                    A wider stance can help you reach deeper into your squat by opening up your hips. You can start with a stance that is just slightly wider than shoulder-width apart.</li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and stronger you will become which will aid you in squatting deeper.</li>
                </ol>
            </p>
        </section>
        <section class="text-justify">
            <h5>Squat Too Low</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                Squatting too low refers to an excessive range of motion, where it resulted in you squatting below the proper depth.The Proper squat depth is achieved when the hips are parallel with the knees or slightly below, while maintaining proper form.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased stress on the knees and lower back.</li>
                    <li>Increased risk of knee and lower back injuries.</li>
                    <li>Reduced activation of the glutes and legs, leading to ineffective workout</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Use a box or bench</u><br>
                    Place a box or bench behind you, and squat down until you touch it with your hips. This will help you gauge the proper squat depth and serve as a visual cue for where to stop.</li>
                    <li><u>Work on hip and ankle mobility</u><br>
                    Improve flexibility to allow for better range of motion. You can do stretching & mobility exercises such as hip flexor stretch, lateral lunge, and ankle mobility drills such as ankle rotation, calf stretch. </li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and flexible you will become which will aid you in squatting the proper depth.</li>
                </ol>
            </p>
        </section>
    </div>
    
    <div id="squats-front">
        <h4 class="text-center">Squats (Front)</h4>
        <div class="video">
            <iframe loading="lazy" class="horizontal embed-responsive embed-responsive-16by9" src="https://youtube.com/embed/KMALkwLEM8w?mute=1" frameborder="1"></iframe>
        </div>
        <section class="text-justify">
            <h5>Rep Too Fast</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>
            </div>
            <p>
                <h6>What is it?</h6>
                "Squat rep too fast" refers to performing the repetition of the squat with a rapid pace, without properly controlling the movement.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Decreased activation of the muscle fibers, leading to poorer muscle development.</li>
                    <li>Increased risk of injury due to loss of control over the squatting movement.</li>
                    <li>Decreased stability during the squatting movement.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                Squatting with a slow and controlled tempo is beneficial as you can achieve a greater time under tension for your muscles, 
                which will lead to better activation of the targeted leg muscles. 
                In addition, a slow and controlled tempo will also help reduce your risk of injuries as you can balance and control with a higher level of stability.
                <br>
                Aim for at least 3 to 4 seconds to complete one full rep of a squat.
            </p>
        </section>
        <section class="text-justify">
            <h5>Knees Collapse Inwards</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                The mistake detected is known as Knee Valgus, where the knee is caving in during the squat.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Leads to Connective Tissue Injury.</li>
                    <li>Ligament damage.</li>
                    <li>Chronic Knee Cap Pain.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Strengthen your glutes (butt)</u><br>
                    Weak glute can result in poor adductive rotation of the legs. You can do more glute exercises such as RNT split squat, and glute bridges to strengthen your glutes.</li>
                    <li><u>Strengthen your core</u><br>
                    Incorporate exercises that target your core muscles, such as planks, side planks, and bird dogs, into your workout routine to help improve your overall stability and posture.</li>
                    <li><u>Increase ankle mobility</u><br>
                    High degree of ankle mobility allow you to maintain the arches of your foot while you squat. You can do calf stretches or simple ankle mobility drills such as ankle circles, ankle pumps and ankle rotation.</li>
                    <li><u>Correct range of motion</u><br>
                    Feet should be just outside of hip width, and toes slightly pointed out. Aim to drive knee out in the direction of your toes.</li>
                </ol>
            </p>
        </section>
        <section class="text-justify">
            <h5>Squat Not Low Enough</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div> 
            <p>
                <h6>What is it?</h6>
                Not reaching full depth during squats is commonly referred to as “Partial squat," and can reduce the effectiveness of the exercise and raise the risk of injury.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Stresses your lower back, knee caps, and hip.</li>
                    <li>Discomfort and feeling of tightness at your hip and leg as it reduces the range of motion in your hip and leg.</li>
                    <li>Not an effective movement as it suffers from a partial range of motion, leading to imbalances in muscle development.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper Squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Improve mobility</u><br>
                    High level of tightness at your hips, hamstrings, and calves can prevent you from reaching full depth in your squats. Incorporate stretching and mobility exercises such as Hip Flexor, Hamstring, Calf stretches into your routine to improve flexibility in these areas.</li>
                    <li><u>Use a wider stance</u><br>
                    A wider stance can help you reach deeper into your squat by opening up your hips. You can start with a stance that is just slightly wider than shoulder-width apart.</li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and stronger you will become which will aid you in squatting deeper.</li>
                </ol>
            </p>
        </section>
        <section class="text-justify">
            <h5>Squat Too Low</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                Squatting too low refers to an excessive range of motion, where it resulted in you squatting below the proper depth.The Proper squat depth is achieved when the hips are parallel with the knees or slightly below, while maintaining proper form.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased stress on the knees and lower back.</li>
                    <li>Increased risk of knee and lower back injuries.</li>
                    <li>Reduced activation of the glutes and legs, leading to ineffective workout</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper Squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Use a box or bench</u><br>
                    Place a box or bench behind you, and squat down until you touch it with your hips. This will help you gauge the proper squat depth and serve as a visual cue for where to stop.</li>
                    <li><u>Work on hip and ankle mobility</u><br>
                    Improve flexibility to allow for better range of motion. You can do stretching & mobility exercises such as hip flexor stretch, lateral lunge, and ankle mobility drills such as ankle rotation, calf stretch. </li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and flexible you will become which will aid you in squatting the proper depth.</li>
                </ol>
            </p>
        </section>
    </div>
    
    <div id="push-up">
        <h4 class="text-center">Push-Up (Right Side)</h4>
        <div class="video">
            <iframe loading="lazy" class="vertical embed-responsive embed-responsive-16by9" src="https://youtube.com/embed/KPTSch1HFp0?mute=1" frameborder="0"></iframe>
        </div> 
        <section class="text-justify">
            <h5>Back Sagging</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                The mistake detected is known as Knee Valgus, where the knee is caving in during the squat.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Leads to Connective Tissue Injury.</li>
                    <li>Ligament damage.</li>
                    <li>Chronic Knee Cap Pain.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Strengthen your glutes (butt)</u><br>
                    Weak glute can result in poor adductive rotation of the legs. You can do more glute exercises such as RNT split squat, and glute bridges to strengthen your glutes.</li>
                    <li><u>Strengthen your core</u><br>
                    Incorporate exercises that target your core muscles, such as planks, side planks, and bird dogs, into your workout routine to help improve your overall stability and posture.</li>
                    <li><u>Increase ankle mobility</u><br>
                    High degree of ankle mobility allow you to maintain the arches of your foot while you squat. You can do calf stretches or simple ankle mobility drills such as ankle circles, ankle pumps and ankle rotation.</li>
                    <li><u>Correct range of motion</u><br>
                    Feet should be just outside of hip width, and toes slightly pointed out. Aim to drive knee out in the direction of your toes.</li>
                </ol>
            </p>
        </section>
        <section class="text-justify">
            <h5>Not Going Low Enough</h5>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="flex-column">
                    <p>Bad Form</p>
                </div>
                <div class="flex-column">
                    <p>Good Form</p>
                </div>            
            </div>
            <p>
                <h6>What is it?</h6>
                The mistake detected is known as Knee Valgus, where the knee is caving in during the squat.
            </p> 
            <p>
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Leads to Connective Tissue Injury.</li>
                    <li>Ligament damage.</li>
                    <li>Chronic Knee Cap Pain.</li>
                </ol>
            </p>
            <p>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Strengthen your glutes (butt)</u><br>
                    Weak glute can result in poor adductive rotation of the legs. You can do more glute exercises such as RNT split squat, and glute bridges to strengthen your glutes.</li>
                    <li><u>Strengthen your core</u><br>
                    Incorporate exercises that target your core muscles, such as planks, side planks, and bird dogs, into your workout routine to help improve your overall stability and posture.</li>
                    <li><u>Increase ankle mobility</u><br>
                    High degree of ankle mobility allow you to maintain the arches of your foot while you squat. You can do calf stretches or simple ankle mobility drills such as ankle circles, ankle pumps and ankle rotation.</li>
                    <li><u>Correct range of motion</u><br>
                    Feet should be just outside of hip width, and toes slightly pointed out. Aim to drive knee out in the direction of your toes.</li>
                </ol>
            </p>
        </section>   
    </div>
</main>
{% endblock %}
