{% extends "base_template.html" %} 

{% block head %} 
<!-- Add Javascript Logic for interactivity -->
<script src="{{url_for('static', filename='js/error.js')}}" defer></script>
<!-- Add Custom Styling -->
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
{% endblock %}

{% block title %} 
FitAI: Errors
{% endblock %} 

{% block nav %}
<ul class="navbar-nav"> 
    <li class="nav-item">
        <a class="nav-link" href="/">App</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="instructions">Tutorial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="errors">Form</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lobby">Lobby</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about">About</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="squat-side-nav-item nav-link text-center" href="#squats-side">Squats (Side)</a>
    </li>
    <li class="nav-item">
        <a class="squat-front-nav-item nav-link text-center" href="#squats-front">Squats (Front)</a>
    </li>
    <li class="nav-item">
        <a class="push-up-nav-item nav-link text-center" href="#push-up">Push-Up (Side)</a>
    </li>
</ul>
{% endblock %}

{% block main %} 
<main>
    <section class="mb-4">
        <h4 class="text-center">Form Correction</h4>
        <section class="lead text-center">
            Index of mistakes FitAI can point out, their risks, and how to improve.<br>
            The navigation bar on the top right can help you nagivate the page.
        </section>    
    </section>

    <div id="squats-side">
        <h4 class="text-center">Squats (Right Side)</h4>
        <div class="video">
            <iframe loading="lazy" class="horizontal embed-responsive embed-responsive-16by9" src="https://youtube.com/embed/li3ysrOYNH4?mute=1" frameborder="1"></iframe>
        </div>
        <section class="text-justify">
            <h5>Rep Too Fast</h5>
            <section>
                <h6>What is it?</h6>
                "Squat rep too fast" refers to performing the repetition of the squat with a rapid pace, without properly controlling your movements.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased risk of injury due to loss of control over the squatting movement.</li>
                    <li>Decreased activation of the muscle fibers, leading to poorer muscle development.</li>
                    <li>Decreased stability during the squatting movement.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                Squatting with a slow and controlled tempo is beneficial as you can achieve a greater time under tension for your muscles, 
                leading to better activation of the targeted leg muscles. 
                In addition, a slow and controlled tempo will also help reduce your risk of injuries as you work out with a higher level of stability and control.
                <br>
                Aim for at least 3 to 4 seconds to complete one full rep of a squat.
            </section>
        </section>
        <section class="text-justify mt-4">
            <h5>Leaning Forward Too Much</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/leaningforward.jpg')}}" alt="leaning forward too much">
            </section>
            <section>
                <h6>What is it?</h6>
                "Leaning forward too much" refers to allowing your upper body to tilt forward excessively during a squat exercise. This can result in an imbalance of weight and and place excessive stress on the lower back and other joints.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased risk of injury and / or strain to your lower back, hips, knees and ankles.</li>
                    <li>Decreased balance and stability, which increases the risk of falling or losing control.</li>
                    <li>Reduced activation of the glutes (butt), which is the primary muscle group targeted during the squats, hence making the exercise ineffective.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Strengthen your core</u><br>
                    Incorporate exercises that target your core muscles, such as planks, side planks, and bird dogs, into your workout routine to help improve your overall stability and posture.</li>
                    <li><u>Focus on your breathing and brace your core</u><br>
                    Take a deep breath in and contract your abs muscles, as if you are bracing a punch to the stomach. Hold this contraction while squatting, and exhale after completing the squat. This can help you to maintain a neutral spine and help you avoid leaning forward too much during the squat.</li>
                    <li><u>Incorporate strengthening exercises</u><br>
                    Such exercises for the legs can help strengthen your muscles and improve overall movement patterns. An example exercise could be the Wall Squat, which is an easier variation that will help build your strength in the muscles needed for the normal Bodyweight Squat.</li>
                    <li><u>Do your mobility exercises</u><br>
                    Mobility exercises will help improve your range of motion and flexibility in your legs and hips. Some mobility exercises you can do include foam rolling, stretches such as hamstring stretches, hip flexor stretches, quad stretches, and dynamic warm-up movements such as leg swings and walking lunges.</li>
                </ol>
            </section>
        </section>
        <section class="text-justify">
            <h5>Squat Not Low Enough</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/squatnotlowenough.jpg')}}" alt="squat not low enough">
            </section>
            <section>
                <h6>What is it?</h6>
                Not reaching full depth during squats is commonly referred to as a “partial squat”. It can reduce the effectiveness of the exercise and raise the risk of injury.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Stresses your lower back, knee caps, and hip.</li>
                    <li>Discomfort and feeling of tightness at your hip and leg as it reduces the range of motion in your hip and leg.</li>
                    <li>Inffective movement due to a partial range of motion, leading to imbalances in muscle development.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Improve mobility</u><br>
                    High level of tightness at your hips, hamstrings, and calves can prevent you from reaching full depth in your squats. Incorporate stretching and mobility exercises such as Hip Flexor, Hamstring, and Calf stretches into your routine in order to improve flexibility in these areas.</li>
                    <li><u>Use a wider stance</u><br>
                    A wider stance can help you reach deeper into your squat by opening up your hips. You can start with a stance that is slightly wider than shoulder-width apart.</li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and stronger you will become, which will aid you in squatting deeper.</li>
                </ol>
            </section>
        </section>
        <section class="text-justify">
            <h5>Squat Too Low</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/squattoolow.jpg')}}" alt="squat too low">
            </section>
            <section>
                <h6>What is it?</h6>
                Squatting too low refers to an excessive range of motion, causing squatting below the proper depth. The proper squat depth is achieved when the hips are parallel with or slightly below the knees, while  proper form is maintained.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased stress on the knees and lower back.</li>
                    <li>Increased risk of knee and lower back injuries.</li>
                    <li>Reduced activation of the glutes and legs, leading to an ineffective workout.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Use a box or bench</u><br>
                    Place a box or bench behind you, and squat down until your hips touch it. This will help you gauge the proper squat depth and serve as a visual cue for where to stop.</li>
                    <li><u>Work on hip and ankle mobility</u><br>
                    Improve flexibility to allow for better range of motion. You can do stretching & mobility exercises such as hip flexor stretch, lateral lunge, and ankle mobility drills such as ankle rotations and calf stretches.</li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and flexible you will become, which will aid you in squatting to the proper depth.</li>
                </ol>
            </section>
        </section>
    </div>
    
    <div id="squats-front">
        <h4 class="text-center">Squats (Front)</h4>
        <div class="video">
            <iframe loading="lazy" class="horizontal embed-responsive embed-responsive-16by9" src="https://youtube.com/embed/KMALkwLEM8w?mute=1" frameborder="1"></iframe>
        </div>
        <section class="text-justify">
            <h5>Rep Too Fast</h5>
            <section>
                <h6>What is it?</h6>
                "Squat rep too fast" refers to performing the repetition of the squat with a rapid pace, without properly controlling your movements.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased risk of injury due to loss of control over the squatting movement.</li>
                    <li>Decreased activation of the muscle fibers, leading to poorer muscle development.</li>
                    <li>Decreased stability during the squatting movement.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                Squatting with a slow and controlled tempo is beneficial as you can achieve a greater time under tension for your muscles, 
                leading to better activation of the targeted leg muscles. 
                In addition, a slow and controlled tempo will also help reduce your risk of injuries as you work out with a higher level of stability and control.
                <br>
                Aim for at least 3 to 4 seconds to complete one full rep of a squat.
            </section>
        </section>
        <section class="text-justify mt-4">
            <h5>Knees Collapse Inwards</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/kneescollapse.jpg')}}" alt="knees collapse inwards">
            </section>
            <section>
                <h6>What is it?</h6>
                Knee collapsing inwards, also known as Knee Valgus, is a common form of knee instability, where the knee caves inward towards the body.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Leads to injury of connective tissue surrounding the knee joint, such as the tendons and ligaments.</li>
                    <li>Increased risk of knee injuries such as ACL tear or meniscus tear.</li>
                    <li>Risk of developing Patellofemoral Pain Syndrome (PFS) that can lead to chronic knee pain.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Strengthen your glutes (butt)</u><br>
                    Weak glutes can result in poor adductive rotation of the legs. You can do more glute exercises such as RNT split squat, and glute bridges to strengthen your glutes.</li>
                    <li><u>Strengthen your core</u><br>
                    Incorporate exercises that target your core muscles, such as planks, side planks, and bird dogs, into your workout routine to help improve your overall stability and posture.</li>
                    <li><u>Increase ankle mobility</u><br>
                    A high degree of ankle mobility allows you to maintain the arches of your foot while you squat. You can do calf stretches or simple ankle mobility drills such as ankle circles, ankle pumps and ankle rotations.</li>
                    <li><u>Correct range of motion</u><br>
                    Feet should be just outside of hip width, and toes slightly pointed out. Aim to drive your knees out in the direction of your toes.</li>
                </ol>
            </section>
        </section>
        <section class="text-justify">
            <h5>Squat Not Low Enough</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/squatnotlowenoughfront.jpg')}}" alt="squat not low enough"> 
            </section>
            <section>
                <h6>What is it?</h6>
                Not reaching full depth during squats is commonly referred to as “Partial squat”. It can reduce the effectiveness of the exercise and raise the risk of injury.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Stresses your lower back, knee caps, and hip.</li>
                    <li>Discomfort and feeling of tightness at your hip and leg as it reduces the range of motion in your hip and leg.</li>
                    <li>Inffective movement due to a partial range of motion, leading to imbalances in muscle development.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Improve mobility</u><br>
                    High level of tightness at your hips, hamstrings, and calves can prevent you from reaching full depth in your squats. Incorporate stretching and mobility exercises such as Hip Flexor, Hamstring, and Calf stretches into your routine in order to improve flexibility in these areas.</li>
                    <li><u>Use a wider stance</u><br>
                    A wider stance can help you reach deeper into your squat by opening up your hips. You can start with a stance that is slightly wider than shoulder-width apart.</li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and stronger you will become, which will aid you in squatting deeper.</li>
                </ol>
            </section>
        </section>
        <section class="text-justify">
            <h5>Squat Too Low</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/squattoolowfront.jpg')}}" alt="squat too low">
            </section>
            <section>
                <h6>What is it?</h6>
                Squatting too low refers to an excessive range of motion, causing squatting below the proper depth. The proper squat depth is achieved when the hips are parallel with or slightly below the knees, while  proper form is maintained.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased stress on the knees and lower back.</li>
                    <li>Increased risk of knee and lower back injuries.</li>
                    <li>Reduced activation of the glutes and legs, leading to an ineffective workout.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper squat form</u><br>
                    Aim to get your hip crease to your knee level. Make sure you are maintaining a neutral spine and pushing your hips back as you lower into the squat.</li>
                    <li><u>Use a box or bench</u><br>
                    Place a box or bench behind you, and squat down until your hips touch it. This will help you gauge the proper squat depth and serve as a visual cue for where to stop.</li>
                    <li><u>Work on hip and ankle mobility</u><br>
                    Improve flexibility to allow for better range of motion. You can do stretching & mobility exercises such as hip flexor stretch, lateral lunge, and ankle mobility drills such as ankle rotations and calf stretches.</li>
                    <li><u>Practice, practice, practice</u><br>
                    The more you practice your squats, the more comfortable and flexible you will become, which will aid you in squatting to the proper depth.</li>
                </ol>
            </section>
        </section>
    </div>

    <div id="push-up">
        <h4 class="text-center">Push-Up (Right Side)</h4>
        <div class="video">
            <iframe loading="lazy" class="vertical embed-responsive embed-responsive-16by9" src="https://youtube.com/embed/KPTSch1HFp0?mute=1" frameborder="0"></iframe>
        </div>
        <section class="text-justify">
            <h5>Rep Too Fast</h5>
            <section>
                <h6>What is it?</h6>
                "push-up rep too fast" refers to performing the repetition of the push-up at a rapid pace, without properly controlling your movements.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increase sheer force and torque on elbow joints that can lead to excessive stress and pain on your elbow joints.</li>
                    <li>Decreased activation of the muscle fibers leading to poor muscle development.</li>
                    <li>Decreased stability during the push-up movement.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                Performing the push-up with a slow and controlled tempo is beneficial as you can achieve a greater time under tension for your muscles, 
                leading to better activation of your upper body muscles (chest, shoulders and triceps). 
                In addition, a slow and controlled tempo will also help reduce the risk of injuries as you work out with a higher level of stability and control.
                <br>
                Aim for at least 2.5 - 3 seconds to complete one full rep of a push-up.
            </section>
        </section>
        <section class="text-justify mt-4">
            <h5>Sagging Back</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/saggingback.jpg')}}" alt="sagging back">
            </section>
            <section>
                <h6>What is it?</h6>
                "Sagging back" during a push-up means that the hips drop towards the ground, creating an excessive arch in the lower back and reducing the activation of the chest and triceps muscles.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased stress on the lower back and pressure on spinal discs.</li>
                    <li>Not effectively working the targeted chest and triceps muscle as it reduces activation of the muscles by shifting the stress load towards your lower back.</li>
                    <li>Decreased stability during the push-up movement.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol>
                    <li><u>Focus on proper technique</u><br>
                    As you descend down into your push-up, brace your abs by taking a deep breath in, and contract your abs muscles as if you are bracing a punch to the stomach. Your should also squeeze your butt as if you are pulling yourself into the ground as you descend down. Exhale out after you ascend back up.</li>
                    <li><u>Keep your body in one straight and neutral line</u><br>
                    It is essential that you maintain a neutral spine throughout the entire push-up movement, in order to reduce risk of injuries along the kinetic chain (interconnected body parts that work together.</li>
                    <li><u>Practice on an incline</u><br>
                    If you are struggling with maintaining the proper form, try practicing push-ups on an incline, such as on a bench or elevated surface. This can help you build strength and stability, making it easier to perform push-ups with the proper form.</li>
                    <li><u>Start the push-up from the bottom</u><br>
                    Start the exercise by lying face down flat on the floor, as opposed to the top position, where your spine has no support or guidance. Your spine should be guided by the flat area of the ground beneath your belly. This allows you to better picture and keep track of your back's position throughout the workout.</li>
                </ol>
            </section>
        </section>
        <section class="text-justify">
            <h5>Not Going Low Enough</h5>
            <section>
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/pushupnotlowenough.jpg')}}" alt="push-up not low enough">
            </section>
            <section>
                <h6>What is it?</h6>
                "Not going low enough" during a push-up refers to a common error where one does not lower their body far enough towards the ground during the push-up exercise.
            </section> 
            <section class="mt-4">
                <h6>What are the dangers?</h6>
                <ol>
                    <li>Increased risk of shoulder and elbow injury due to improper form.</li>
                    <li>Not effectively working the targeted chest and triceps muscle, as it reduces activation of these muscles by shifting the stress load towards your lower back.</li>
                    <li>Reduced cardiovascular and muscular endurance.</li>
                </ol>
            </section>
            <section>
                <h6>How do I fix it?</h6>
                <ol class="mb-0">
                    <li><u>Focus on proper technique</u><br>
                    As you descend down into your push-up, brace your abs by taking a deep breath in, and contract your abs muscles as if you are bracing a punch to the stomach. Your should also squeeze your butt as if you are pulling yourself into the ground as you descend down. Exhale out after you ascend back up.</li>
                    <li><u>Gradually increase your range of motion</u><br>
                    Start by lowering yourself only a few inches, and gradually increase the range of motion as you build strength and stability.</li>
                    <li><u>Use resistance bands</u><br>
                    Place a resistance band under your hands to aid you in going lower while maintaining proper form.</li>
                    <li><u>Practice, practice, practice</u><br>
                    Regular practice with the correct technique will improve your strength, making it easier to lower yourself further towards the ground.</li>
                </ol>
            </section>
        </section>
    </div>
</main>
{% endblock %}
