<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <title>Document</title>
</head>

<body>
    <iframe name="dummy" id="dummy" style="display: none;"></iframe>
    <header class="top-bar">
        <span class="brand">AI Challenge 2023</span>
    </header>
    <main class="main-content">
        <img class="video-feed" src="{{url_for('video_feed')}}" alt="Video">
        <a class="start-button" href="start">Start</a>
        <a class="end-button" href="{{url_for('end_exercise')}}">End</a>
        <form action="{{url_for('change_exercise')}}" method="post" target="dummy">
            <select name="exerciseId" id="changeExercise">
                <option value="0">Squat</option>
            </select>
            <input type="submit">
        </form>
    </main>


</body>

</html>