{% extends "base_template.html" %} 

{% block title %} 
FitAI: About
{% endblock %} 

{% block navbar_items %}
{% endblock %} 

{% block main %} 
<main>
    <section>
        <h4 class="text-center" id="instructions">Instructions</h4>
        <h5>Tutorial</h5>
        <span>To start exercising, do the following: </span>
        <ol>
            <li>Click on the green "Start Camera" button</li>
            <li>Wait for the application to load</li>
            <li>Select an exercise from the drop down list, and then click "Start Exercise"</li>
            <li>Position your camera according to the instruction in the yellow alert box.</li>
            <li>Start doing the exercise. Verbal hints on how to improve your form for each rep will be read out by the browser</li>
            <li>When you are done, cick on "End Exercise" to see a summary of your form. You can also click on "Show Feedback Log" so see the history of feedback on each of your reps.</li>
        </ol>
        <h5>Tips</h5>
        <ul>
            <li>For 'Right Side' exercises, the camera should be set up directly to your right. </li>
            <li>Camera should be at table height for squats and floor height for push-ups.</li>
            <li>Camera angle should be vertical. For squats, the camera should be able to see your feet.</li>
            <li>For best training results, please time each rep at about 2-3s.</li>
        </li>
    </section>
{% endblock main %}