{% extends "base_template.html" %} 

{% block title %} 
FitAI: About
{% endblock %} 

{% block nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/">App</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="instructions">Tutorial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="errors">Form</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lobby">Lobby</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about">About</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-center" href="#instructions">Instructions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" href="#tips">Tips</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" href="#information">Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" href="#advanced">Advanced</a>
    </li> 
</ul>
{% endblock %} 

{% block main %} 
<main class="mb-5">
    <section class="mb-4">
        <h4 class="text-center">Tutorial</h4>
        <section class="lead text-center">
            Instructions on how to use our Application, Tips on how to get the most out of it, <br>
            General Information, and help on a few Advanced Settings.
        </section>
    </section>
    <section class="mb-4">
        <h4 class="text-center" id="Introduction">Introduction</h4>
        <section>
            Fit AI is an application that aims to be a companion for your exercise routines. It can count reps, correct your form, and detect fatigue. <br>
            For more information about us, visit our <a href="about" class="link-secondary">about</a> page.
        </section>
    </section>
    <section class="mb-4">
        <h4 class="text-center" id="instructions">Instructions</h4>
        <section>To start exercising, do the following:</section>
        <section class="mb-4">
            <img class="rounded mx-auto d-block" style="width: 100%;" src="{{url_for('static', filename='images/homescreen.jpg')}}" alt="homescreen">        
            <ol>
                <li><u>Start Application (Red Circle):</u><br>
                Click on the green "Start Camera" button and allow the website to use your camera when prompted.</li>
            </ol>
        </section>
        <section class="mb-4">
            <img class="rounded mx-auto d-block" style="width: 100%;" src="{{url_for('static', filename='images/startexercise.jpg')}}" alt="start exercise">
            <ol start="2">
                <li><u>Start Exercise (Red Circle):</u><br>
                When the application finishes loading, select an exercise from the drop down list, and then click "Start Exercise".</li>    
            </ol>
        </section>
        <section class="mb-4">
            <img class="rounded mx-auto d-block" style="width: 100%;" src="{{url_for('static', filename='images/inrep.jpg')}}" alt="in rep">
            <ol start="3">
                <li><u>Camera Position (Orange Boxes):</u><br>
                Position your camera according to the instructions in the alert box. More information on camera placement can be found in the "Tips" section.</li>
                <li><u>Rep Feedback (Green Box):</u><br>
                Start doing the exercise. Rep count and instructions to improve your form will be seen on screen. It will also be read out by a narrator.</li>
                <li><u>Technical Issues (Blue Box):</u><br>
                Any issues encountered by the application, such as being unable to see you fully, will be displayed here.</li>
                <li><u>Fatigue Detection (Yellow Box):</u><br>
                If you are performing an exercise where the application can see your face (front squats), feedback based on sentimental analysis will be displayed here.</li>
                <li><u>End Exercise (Red Circle):</u><br>
                When you are done, cick on "End Exercise" to see a summary of your reps.</li>    
            </ol>
        </section>
        <section class="mb-4">
            <img class="rounded mx-auto d-block" style="width: 100%;" src="{{url_for('static', filename='images/finishexercise.jpg')}}" alt="finish exercise"> 
            <ol start="8">
                <li><u>Summary of Feedback (Green Box):</u><br>
                A summary of your reps and the feedback given will be displayed here.</li>
                <li><u>Show Feedback Log (Blue Box):</u><br>
                The full log of feedback for each rep can by displayed by clicking this link.</li>
                <li><u>About Errors (Yellow Boxes):</u><br>
                More information on the feedback given can be found by clicking "About Errors" or by clicking "Form" in the navigation bar.</li>
                <li><u>Start Another Exercise (Red Circle):</u><br>
                To resume exercising, select an exercise from the drop down list, and then click "Start Exercise".</li>
            </ol>
        </section>
    </section>
    <section class="mb-4">
        <h4 class="text-center" id="tips">Tips</h4>
        <ol>
            <li>For 'Right Side' exercises, the camera should be set up facing your right side, as seen in the pictures above.</li>
            <li>Camera should be at table height for squats and floor height for push-ups.</li>
            <li>Camera should be placed vertically, and should either not be angled or be angled slightly downwards.</li>
            <li>For squats, the camera should be able to see your feet, as seen in the pictures above.</li>
            <li>Examples of what the camera should see include the images above and the videos taken in the "Form" page.</li>
            <li>For best training results, please time each rep at about 3-4s for squats, and about 2.5-3 seconds for push-ups</li>
            <li>For more information about our application, visit our <a href="about#information" class="link-secondary">about</a> page.</li>
        </ol>
    </section>
    <section class="mb-4">
        <h4 class="text-center" id ="information">General Information</h4>
        <h5>Application Details</h5>
        <ul>
            <li>We currently support 3 exercises: Side Squats, Front Squats, and Side Push-Ups.</li>
            <li>Unfortunately, as of now, the application can only support one connection due to computing constraints.</li>
            <li>The website supports both Desktop and Mobile access, in portrait and landscape mode.</li>
            <li>The browsers we support are Chrome, Safari, and Microsoft Edge, and Firefox. Do note that Firefox mobile cannot be used in landscape mode.</li>
            <li>Do note that you will be logged out after 5 minutes of inactivity while using the application.</li>
        </ul>
        <h5>Data Privacy</h5>
        <ul>
            <li>Do note that by using the website, you are consenting to having your image data sent to us.</li>
            <li>We do not store or distribute this data in any way, shape, or form.</li>
        </ul>
        <h5>Disclaimer</h5>
        <p>
            We are not responsible for any injuries caused by using our application. <br>
            This application only serves as a guide for users, it does not serve as a replacement for professional health advice. <br>
            If you have any pre-existing health conditions, consult an expert on whether or not these exercises are safe for you to perform.
        </p>
    </section>
    <section>
        <h4 class="text-center" id="advanced">Advanced Settings</h4>
        <img class="rounded mx-auto d-block" style="width: 100%;" src="{{url_for('static', filename='images/advanced.jpg')}}" alt="advanced settings" class="mt-0">
        <ol class="mb-0">
            <li><u>Toggle Text-To-Speech (Green Box):</u><br>
            Disable or enable narrator to read out rep feedback.</li>
            <li><u>Toggle Beginner or Expert (Blue Box):</u><br>
            Beginner mode (default) advices users to exercise within their limits to prevent injuries, while Expert mode advices users to exercise near or close to failure for optimal workout effectiveness.</li>
            <li><u>Flip Camera (Yellow Box):</u><br>
            Changes active camera on devices with multiple cameras. Only supported on some browsers and devices.</li>
        </ol>
    </section>
{% endblock main %}
